[Service]
ExecStart=/home/bcuser/npm/bin/npm start
WorkingDirectory=/home/ubuntu/bin/nrbc
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nrbc
User=ubuntu
Group=ubuntu
Environment=NODE_ENV=production
Environment=PORT=30026

[Install]
WantedBy=multi-user.target
