extends layout

block content
  h1= title
  p Welcome to #{title}
  input#userInput(type="number")
  br
  button#calculateFeetFromMiles Calculate Feet from Miles

  br
  button#search Search
  br
  button#getFeetInMile Get Feet in One Mile
  br
  button#calculateCircumference Calculate Circumference

  pre#displaySearch
  pre#displayFeetInMile
  pre#displayArea